/* Builds the entire structure of the contact page with flex box */
.contactStructure {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

/* The first title of the page */
.contactHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}
/* All the information that is placed on the page */
.contactInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.5%;
}

/* Contains information of the card 'Contact' */
.contactContact {
    padding: 2% 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: lightgrey;
    flex-wrap: wrap;
    border-radius: 2.5%;
}
.contactDetail {
    justify-content: space-between;
    width: 20%;
}
.contactPara {
    margin: 0;
    padding-left: 2%;
    font-size: 150%;
}
.contactImage {
    height: 40px;
    width: auto;
}
.contactLink {
    text-decoration: none;
}

/* Contains information of the card 'Locatie' */
.contactLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background-color: lightgrey;
    flex-wrap: wrap;
    padding-bottom: 2.5%;
    border-radius: 2.5%;
}

.contactLocation p {
    display: flex;
    justify-content: center;
}

.contactLocationTitle {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    height: 100px;
}

/* Contains information of the card 'Openingstijden'  */
.contactTimeSlots {
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: lightgrey;
    flex-wrap: wrap;
    padding-bottom: 2.5%;
    border-radius: 2.5%;
}

/* The Title of the card 'Openingstijden' */
.contactTimeTableTitle {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
}

/* the table containing information with the openingstijden */
.timeTable {
    display: flex;
    align-items: center;
    width: 80%;
    padding-top: 5%;
}

.contactTableClosed{
    text-align: center;
}

@media only screen and (max-width: 480px) {

    body {
        background-color: #EDE6E6;
        position: relative;
        min-height: 100vh;
    }

    .contactStructure {
        display: none;
    }
}