footer {
    width: 100%;
    bottom: 0;
    height: 0;
    position: absolute;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #72A5CD;
    margin-top: 5%;
    height: 100px;
    
}

.footerInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5%;
}
.footerContactInformationLeft{
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: row-reverse;
}

.footerContactInformationRight{
    display: flex;
    width: 40%;
    align-items: center;

}

.footerContactInformation p{
  margin-left: 2.5%;
  margin-top: 0;
  margin-bottom: 0;
}