footer {
    width: 100%;
    bottom: 0;
    height: 0;
    position: absolute;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #72A5CD;
    margin-top: 5%;
    height: 100px;
}

.footerInformation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5%;
}
.footerContactInformationLeft{
    display: flex;
    width: 40%;
    align-items: center;
}

.footerContactInformationRight{
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: row-reverse;
}

.footerContactInformationLeft h6{
    margin-bottom: 0px;
    margin-left: 2.5%;
    font-size: large;
}

.footerContactInformationRight h6{
    margin-bottom: 0px;
    margin-right: 2.5%;
}