.headerLogo {
    background-color: #72A5CD;
}

ul.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
    margin-top: -3.50%;
    padding: 0;
}

li.navigation {
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: red;
}

div.navigation {
    position: -webkit-sticky;
    position: sticky;
}

a.navigation {
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #CEDFED;
    color: black;
}

li:last-child {
    float: right;
}

.navLeft {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}

.navRight {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}