body {
  background-color: #EDE6E6;
  position: relative;
  min-height: 100vh;
}

.homeStructure {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
.pricesAndImage {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #72A5CD;
  border-radius: 5%;
  padding: 2%;
}
.homeImage{
  margin-top: 10%;
}

.homeMariaNila{
  width: 20%;
}