body {
  background-color: #EDE6E6;
  position: relative;
  min-height: 100vh;
}

.homeIntroText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  margin: 2.5%;
  margin-top: 0;
  background-color: #CEDFED;
}

.homeIntroText h1 {
  font-size: 400%;
  margin-left: 2%;
  margin-bottom: 0;
}

.homeStructure {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pricesAndImage {
  display: flex;
  width: 100%;
  border-radius: 5%;
  padding-top: 0;
  justify-content: space-between;
}

.homeImage {
  width: 25%;
  background-color: #CEDFED;
  margin: 2.5%;
  margin-top: 0;
}

#carouselImage {
  width: 50%;
  display: flex;
  justify-content: center;
}

.homePrijzenCard {
  display: flex;
  width: 60%;
  background-color: #CEDFED;
}

.homeIgeoImage {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.homeImageText {
  width: 60%;
  margin: 2%;
  background-color: wheat;
}

.imageIgeo {
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;

}

.homeImageText p {
  margin: 5%;
}



@media only screen and (min-width: 481px) {
  .hamburgerHomeStructure {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .homeStructure {
    display: none;
  }

  /* For the mobile version */

  .hamburgerHomeStructure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    background-color: #CEDFED;

  }

  .hamburgerHomeIgeoImage {
    background-color: wheat;
    scale: 80%;
  }

  .homePrijzenCard {
    width: 100%;
  }

  .homeImageText {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .homeIntroText h1 {
    font-size: 250%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .homeIntroText {
    width: 100%;
    margin: 0;
  }
}