body{
    background-color: #EDE6E6;
    position: relative;
    min-height: 100vh;
  }

  .homeStructure{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

.homePrijzenCard{
  display: flex;
  width: 40%;
  background-color: lightblue;
  margin-top: 2.5%;
}

#prijzenCardTable{
  margin-bottom: 0;
}