.prijzenStructure{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
.prijzenCard {
    width: 40%;
    display: flex;
    background-color: #CEDFED;
}
.prijzenCard:last-child{
    margin-top: 5%;
    margin-left: 30%;
}
#prijzenCardTable {
    margin-bottom: 0;
}