.prijzenStructure {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.prijzenCard {
    width: 40%;
    display: flex;
    background-color: #CEDFED;
}

.prijzenCard:last-child {
    margin-top: 5%;
    margin-left: 30%;
}

#prijzenCardTable {
    margin-bottom: 0;
}

/* media screen for mobile */
@media only screen and (max-width: 480px)  {
    .prijzenStructure {
        display: none;
    }

    .hamburgerprijzenStructure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .prijzenCard{
        width: 80%;
        margin-bottom: 5%;
    }

    .prijzenCard th{
        width: 100%;
    }

    .prijzenCard:last-child{
        margin-left: 0;
        margin-top: 0;
    }
}


/* media screen for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px)  {
    .hamburgerprijzenStructure {
        display: none;
    }
}

/* media screen for smalscreen, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
   
    .hamburgerprijzenStructure {
        display: none;
    }
}

/* media screen for Desktops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px)  {
    .hamburgerprijzenStructure {
        display: none;
    }

}

/* media screen for extra large screens */
@media only screen and (min-width: 1201px) {
    .hamburgerprijzenStructure {
        display: none;
    }

}