/* Gives the entire page flexbox so you can center every element */
.productStructure {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 0;
}

/* This card contains a row of products  f.e. Head & hair Heal*/
#productCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

/* The card has 1 big main image */
.cardImage {
    display: flex;
    width: 25%;
}

/* A card contains information about a product and this determines the position of that product */
.productInformationText {
    margin: 2.5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}

/* The header text of a card */
.productInformationText h3 {
    padding-bottom: 1%;
}

/* The card contains multiple cards which can be positioned with this id */
#contentBodyCard {
    display: flex;
    justify-content: space-between;
}

/* Detemines the size of a single product */
#contentSingleProduct {
    width: 15%;
    background-color:lightgoldenrodyellow;
}

/* Determines the location of the price in the product */
#contentPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

/* Most information about the product */
.productinformation {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #CEDFED;
}